<ion-view view-title="About me">
    <ion-content>
        <div class="about">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h1>About</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <blockquote>
                                Design is not just what it looks like and feels like. Design is how it works.
                                <p>- Steve Jobs</p>
                            </blockquote>
                            <div class="description">
                                <p>
                                    I'm Mani and I'm here to provide web solutions for a wide range of industrial problems. My expertise include Web applications, Mobile apps and Software consulting. I've 3+ years of industry experience which doesn't give me an oppurtunity to just solve problems but to give solutions. Solutions which evolves with time.
                                </p>
                                <br/>
                                <p>
                                    <a ui-sref="menu.contact">Contact me</a> for more information.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">© Copyrights Reserved Avnet Inc.</div>
    </div>
</ion-view>
