<ion-view view-title="About me">
    <ion-content>
        <div class="wrapper">
            <div class="cover">
                <div class="bomma animated rotateIn">
                </div>
            </div>
            <div class="padding">
                <a href="tel:+917418271862" class="item item-icon-left">
                    <i class="icon ion-ios-telephone"></i> Call Mani
                </a>
                <div class="padding-top"></div>
                <a href="mailto:im.manikanta@gmail.com" class="item item-icon-left">
                    <i class="icon ion-email "></i> Email Mani
                </a>
            </div>
        </div>
        <figure class="card">
            <div class="img mani"></div>
            <figcaption class="card">
                <h3>Mani</h3>
                <p>Developer, <strong>By heart and will</strong></p>
                <ul class="social">
                    <li class="general"><a href="mailto:im.manikanta@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    <li class="facebook"><a href="https://goo.gl/2P7Khf"><i class="fa fa-facebook"></i></a></li>
                    <li class="google"><a href="https://goo.gl/5YccaJ"><i class="fa fa-google-plus"></i></a></li>
                    <li class="twitter"><a href="https://goo.gl/9nOgi5"><i class="fa fa-twitter"></i></a></li>
                    <li class="general"><a href="tel:+917418271862"><i class="fa fa-phone"></i></a></li>
                </ul>
            </figcaption>
        </figure>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">© Copyrights Reserved</div>
    </div>
</ion-view>
